// WIDTH
$content-width: 960px;

// HEADER
    // COLORS
$headerMainColor: rgb(114, 121, 137);
$headerMainColor-hover: rgb(227, 232, 241);
$headerSecondColor: rgb(227, 232, 241);
$headerSecondColor-hover: rgb(227, 232, 241);

// MAIN
    // COLORS
$mainMainColor: rgb(0, 0, 0);
$mainSecondColor: rgb(153, 161, 179);