.mainLeft {
    width: 20%;
    
    ul {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 20px;
    }

    li {
        position: relative;
        width: 100%;
        border-left: 5px solid transparent;
    }

    .submenuTitle {
        font-family: Georgia, serif;
        font-size: 18px;
        color: $mainMainColor;
        padding-left: 20px;
        margin-top: 20px;
    }

    .mainLink {
        display: flex;
        color: $mainSecondColor;
        height: 100%;
        padding: 10px 0 10px 20px;
        line-height: 1.2;
    }

    .mainLink::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 5;
        top: 0;
        left: -5px;
        clear: both;
        width: 0;
        height: 100%;
        border-radius: 1px;
        box-shadow: 0 1px 3px 0 rgb(114, 121, 137);
        background-color: $mainSecondColor;
        transition: width .3s ease-in-out;
    }

    // MAIN HOVER
    .mainLink:hover {
        text-shadow: 0 1px 1px rgb(30, 33, 39);
        border-top: 1px solid rgb(211, 218, 235);
        border-bottom: 1px solid rgb(211, 218, 235);

        &::before {
            width: 5px;
        }
    }
}

@media (max-width: 750px) {
    .mainLeft {
        display: none;
    }
}
